.containerCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #aaa;
    background-color: #aaa;
    border-radius: 5px;
}

.card span {
    font-size: 28px;
    text-align: center;
    padding: 10px;
    color: black;
}